<div class="icon-container">
    <div>
        <button>
            <img src="images/pallete.png" alt="paint-img" class="icons">
        </button>
        <button>
            <img src="images/add_alert.png" alt="add_alert" class="icons">
        </button>
        <button>
            <img src="images/colabrator.png" alt="colabrator" class="icons">
        </button>
        <button>
            <img src="images/img_frame.png" alt="img_frame" class="icons">
        </button>
        <button>
            <img src="images/archive.png" alt="archive" class="icons">
        </button>
        <button>
            <img src="images/more_vert.png" alt="more_vert" class="icons">
        </button>
        <button>
            <img src="images/undo.png" alt="undo" class="icon">
        </button>
        <button>
            <img src="images/redo.png" alt="redo-img" class="icon">
        </button>
    </div>
</div>    
