
<div class="icon-container">
    <div>
        
        <button mat-icon-button (click)="toggleColorPicker($event)">
            <img src="images/pallete.png" alt="add_alert" class="icons">
          </button>
          <div *ngIf="isColorPickerVisible" class="color-picker">
            <div
              class="color-circle"
              *ngFor="let color of colors"
              [ngStyle]="{ 'background-color': color }"
              (click)="selectColor(color)">
            </div>
          </div>
        <button>
            <img src="images/add_alert.png" alt="add_alert" class="icons">
        </button>
        <button>
            <img src="images/colabrator.png" alt="colabrator" class="icons">
        </button>
        <button>
            <img src="images/img_frame.png" alt="img_frame" class="icons">
        </button>
        <button (click)="toArchive()">
            <img src="images/archive.png" alt="archive" class="icons">
        </button>
        <button [matMenuTriggerFor]="menu">
            <img src="images/more_vert.png" alt="more_vert" class="icons">
        </button>
        <mat-menu #menu>
            <button mat-menu-item (click)="trash()">Delete note</button>
            <button mat-menu-item>Add label</button>
            <button mat-menu-item>Add drawing</button>
            <button mat-menu-item>Make a copy</button>
            <button mat-menu-item>Show checkboxes</button>
            <button mat-menu-item>copy to Google doc</button>
            <button mat-menu-item>varsion history</button>
          </mat-menu>
    </div>
</div>    
