<div class="login-Container">
    <div class="login-Card">
        <div class="left-Part">
            <img src="images/Google_Icon.png"alt="Google Logo" class="google-Img">
            <h1 class="sign-Heading">Sign in</h1>
            <p class="sign-Para">with your Google Account. This account will be available to other Google apps in the browser.</p>
        </div>
        <div class="right-Part">
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Email or Phone</mat-label>
                    <input matInput placeholder="Email or Phone" formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password" formControlName="password">
                </mat-form-field>
            </div>
            <button mat-button class="card-text-btn">Forgot email?</button>
              <p class="info-para">
                Not your computer? Use Guest mode to sign in privately.
                <a href="https://support.google.com/chrome/answer/6130773?hl=en" class="anchor-tag">Learn more about using Guest mode</a>
              </p>
              <div class="btn-Container">
                <button mat-button class="card-text-btn">Create account</button>
                <button mat-flat-button class="btn">Next</button>
            </div> 
        </div>
    </div>
    <div class="help-Container">
        <a mat-button href="https://support.google.com/accounts?hl=en&visit_id=638804667152578830-3450883648&rd=2&p=account_iph#topic=3382296" target="_blank" rel="noopener" class="text-btn">Help</a>
        <a mat-button href="https://policies.google.com/privacy?gl=IN&hl=en-US" target="_blank" rel="noopener" class="text-btn">Privacy</a>
        <a mat-button href="https://policies.google.com/terms?gl=IN&hl=en-US" target="_blank" rel="noopener" class="text-btn">Term</a>
    </div>
</div>
