.login-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    background-color: rgb(34, 34, 34);
   
}
.login-Card{
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 60vh;
    width: 160vh;
    margin: 20px;
    border-radius: 3vh;
    
}
.left-Part{
    flex: 1;
    padding: 30px;
    padding-right: 20px;
    text-align: column;   
}

.sign-Heading{
    color: #ffffff;
    font-family: roboto;
    font-weight: 400;
    margin-bottom: 10px;
        
}
.google-Img{
    width: 60px;
}
.sign-Para{
    color: #ffffff;
    font-family: roboto;
    font-size: 18px;
}
.right-Part{
    flex: 1;
    padding-right: 20px;
    padding-top: 50px;
    text-align: column;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
mat-form-field{
    width: 50vh;
}
mat-label{
    color: #ffffffd8;
}
.info-para{
    color: #ffffffac;
    font-family: Roboto;
    font-size: 15px;
    margin-bottom: 60px;
}
.card-text-btn{
color: #85b9f1 !important;
}
.btn{
    color: black !important;
    font-family: roboto !important;
background-color: #85b9f1 !important;
} 
.anchor-tag{
    text-decoration: none;
    color: #85b9f1;
    font-size: 16px;
}
.anchor-tag:hover{
    text-decoration: underline;
}

.btn-Container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 40px;
}
.text-btn{
color: #ffffff !important;
}
.help-Container{
    display: flex;
    justify-content: flex-end;
    width: 160vh;
    margin-top: 20px;
}

@media screen and (max-width: 1200px) {
    .login-Card {
        width: 120vh;
    }

    mat-form-field {
        width: 45vh;
    }
    .help-Container{
        justify-content: center;
    }
}

@media screen and (max-width: 900px) {
    .login-Container {
        height: 120vh;
        padding-top: 10px;
    }
    .login-Card {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 90vw;
        padding: 20px 10px;
    }

    .left-part, .right-part {
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .google-Img {
        display: block;
        margin: 0 auto 20px ; 
        width: 50px; 
    }

    mat-form-field {
        width: 80vw;
    }

    .help-Container{
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .login-Container {
        height: 110vh;
        padding: 10px;
    }

    .login-Card {
        width: 100%;
        border-radius: 0;
    }

    mat-form-field {
        width: 90vw;
    }

    .google-Img {
        width: 40px;
        justify-content: center;
    }

    .sign-Heading {
        font-size: 20px;
    }
}
